@import "../../../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";


.requiredStar {
    color: red;
}

#weatherSearchForm {
    margin-top: 25px;
    background-color: #6491ac;
}

.centerText {
    text-align: center;
}

h1 {
    color: white;
}

i.material-icons {
    top: -1px;
    vertical-align: middle;
    position: relative;
}

.btn {
    background-color: white;
}

.form-check-input {
  position: sticky;
}

